.img-viewer-container {
  position: fixed;          /* Se posiciona relativo al ion-content */
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);

  z-index: 9999;               /* Max para que quede arriba del contenido pero no del header */
}

.image-viewer-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.7rem;
  color: white;
  cursor: pointer;
}

.image-wrapper {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-viewer-img {
  // max-width: 100%;
  // max-height: 100%;
  object-fit: contain;
  border-radius: .5rem;
}

// MEDIA QUERIES
@media (min-width: 340px) {
.image-viewer-img{
  width: 19rem;
}
}

@media (min-width: 660px) {
.image-viewer-img{
  width: 24rem;
}
}

@media (min-width: 800px) {
.image-viewer-img{
  width: 30rem;
  max-width: 30rem;
}
}
