<div class="list-wrapper">

  <ion-list lines="full" class="list">

    <!-- MAIN DECK -->
    <ion-label class="main-deck-label">
    <span class="label-text">MAZO <span class="amount">{{ mainCardsAmount }}/40</span></span>
    <ion-button fill="clear" size="default" (click)="exportList()">
      <ion-icon name="download-outline" slot="icon-only" />
    </ion-button>
  </ion-label>

    @if (mainCards.length === 0) {
      <ion-item>
        <ion-label class="empty-message">
          Mazo vacío.
        </ion-label>
      </ion-item>
    }

    @for (card of mainCards; track card.id) {
      <ion-item
        class="card-row"
        (click)="openCloseViewer(card.data!.img)"
      >
        <img
          slot="start"
          class="thumb"
          [src]="card.data!.img"
          alt="card image"
        />
        <ion-label class="card-name">
          {{ card.data?.name }}
        </ion-label>

        <div class="card-amount">
          x{{ card.amount }}
        </div>
      </ion-item>
    }

    <!-- SIDE DECK -->
    <ion-label class="side-deck-label">
      SIDE DECK <span>{{ sideCardsAmount }}/15</span>
    </ion-label>

    @if (sideCards.length === 0) {
      <ion-item>
        <ion-label class="empty-message">
          side deck vacío.
        </ion-label>
      </ion-item>
    }

    @for (card of sideCards; track card.id) {
      <ion-item
        class="card-row"
        (click)="openCloseViewer(card.data!.img)"
      >
        <img
          slot="start"
          class="thumb"
          [src]="card.data!.img"
          alt="card image"
        />
        <ion-label class="card-name">
          {{ card.data?.name }}
        </ion-label>

        <div class="card-amount">
          x{{ card.amount }}
        </div>
      </ion-item>
    }

  </ion-list>

</div>

@if (showImg) {
  <image-viewer
    (closeViewer)="openCloseViewer('')"
    [img]="img"
  />
}

<!-- DIV OCULTO PARA EXPORTAR -->
<div id="card-list-export-area" class="export-area">

  <div class="export-section-title">MAZO ({{ mainCardsAmount }}/40)</div>
  @for (card of sortedMainCards; track card.id) {
    <div class="export-row">
      <span class="export-name">{{ card.data?.name }}</span>
      <span class="export-qty">x{{ card.amount }}</span>
    </div>
  }

  <div class="export-section-title">SIDE DECK ({{ sideCardsAmount }}/15)</div>
  @for (card of sortedSideCards; track card.id) {
    <div class="export-row">
      <span class="export-name">{{ card.data?.name }}</span>
      <span class="export-qty">x{{ card.amount }}</span>
    </div>
  }
  <h6 class="export-title">BY: SHO</h6>
</div>
