/* =========================================================
   ===================== BASE SHARED ========================
   ========================================================= */

/* Width 100% */
:host,
.main-deck-label,
.side-deck-label,
.list-wrapper,
ion-list,
.empty-message {
  width: 100%;
}

/* Font size 0.9rem */
.card-name,
.card-amount {
  font-size: 0.9rem;
}

/* Text center */
.main-deck-label,
.side-deck-label,
.empty-message {
  text-align: center;
}

/* =========================================================
   ====================== CARD ROW ==========================
   ========================================================= */

.card-row {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    color: rgba(120, 80, 255, 0.7);
  }
}

/* =========================================================
   ===================== CARD CONTENT =======================
   ========================================================= */

.card-name {
  font-weight: 600;
}

.card-amount {
  margin-right: 0.5rem;
  font-weight: bold;
  color: #fff;
}

/* =========================================================
   ====================== ACTIONS ===========================
   ========================================================= */

.delete-btn {
  --padding-start: 0;
  --padding-end: 0;
  font-size: 1.1rem;
  margin: 0;
}

/* =========================================================
   ====================== LABELS ============================
   ========================================================= */

.main-deck-label,
.side-deck-label {
  display: block;
  padding: 0.5rem 0;
  background: #7045ffb5;
}

.side-deck-label {
  background: lab(40.79% 61.92 18.8 / 0.781);
}

/* =========================================================
   ====================== LIST WRAPPER ======================
   ========================================================= */

.list-wrapper,
ion-list {
  height: auto;        /* DEJAR crecer libremente */
  overflow: visible;   /* NO scroll */
}

/* =========================================================
   ===================== EMPTY STATE ========================
   ========================================================= */

.empty-message {
  color: #ccc;
  font-style: italic;
}

/* =========================================================
   ===================== MEDIA QUERIES ======================
   ========================================================= */

@media (min-width: 800px) {
  .list {
    margin: 1rem 0;
  }
}
