/* =========================================================
   ==================== FAB BUTTON =========================
   ========================================================= */

.square-fab {
  --border-radius: 2px;
  --width: 56px;
  --height: 56px;
  --background: color-mix(in srgb, var(--ion-color-primary) 65%, transparent);
}

.square-fab ion-icon {
  font-size: 28px;
}

/* =========================================================
   ===================== BACKDROP ==========================
   ========================================================= */

.fab-backdrop {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}
