/* Width 100% */
.content-container,
.card-list {
  width: 100%;
}

/* Cursor pointer */
.back-icon {
  cursor: pointer;
}

/* Text center */
.title {
  text-align: center;
}

/* =========================================================
   ======================= HEADER ===========================
   ========================================================= */

.header {
  --background: #3f51b5;
  --color: #e2e2e2;
}

/* =========================================================
   ===================== MAIN LAYOUT ========================
   ========================================================= */

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.card-list {
  max-width: 52rem;
  height: auto;
  overflow: visible;
}

/* =========================================================
   ======================= ICON =============================
   ========================================================= */

.back-icon {
  position: absolute;
  font-size: larger;
  padding-left: 0.5rem;
  z-index: 10;

  &:hover {
    transform: scale(1.1);
  }
}
