.floating-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  color: aliceblue;

  opacity: 0.8;
  backdrop-filter: blur(0.4rem);

  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
}

ion-toolbar {
  position: relative;
  display: flex;
  align-items: center;
}

ion-title.home-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.edit-icon {
  font-size: 1.6rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
