<ion-header>
<ion-toolbar>

  <rog-logo [hasExtraLogoClasses]="false"/>

  <ion-title class="home-title ion-text-center">
    {{ identity?.name }} - {{ identity?.nickname }}
  </ion-title>

  <ion-icon
  slot="end"
  name="create-outline"
  class="edit-icon"
  (click)="editIdentity()">
</ion-icon>
</ion-toolbar>


</ion-header>
@if (showUserModal) {
  <div class="overlay">
    <user-identity (closed)="onIdentitySaved()"></user-identity>
  </div>
}

<ion-content class="ion-padding">

  @if (decks.length === 0) {
    <ion-title class="home-title ion-text-center">
      <h5>Aún no tienes mazos guardados</h5>
    </ion-title>
  } @else {
    <decks [decks]="decks" (deckDeleted)="loadDecks()"/>
  }

  <new-upload-deck-btn class="add-deck" (newDeck)="createNewDeck()" (uploadDeck)="uploadDeck()"/>
</ion-content>

@if (showSplash) {
  <animation/>
}
@if(showNotes){
  <update-notifier-component [imageSrc]="noteImg" [notesId]="currentNotesId" (closed)="closeNotes()"/>
}
