<ion-header>
<ion-toolbar>

  <a class="rog-logo-container"
  class="rog-logo-container"
  href="https://riseofgods.store/#elementor-action%3Aaction%3Dpopup%3Aopen%26settings%3DeyJpZCI6IjI3ODEiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D"
   target="_blank">
  <img class="rog-logo" src="../../../assets/icon/rog-logo.webp" alt="ROG logo">
  <span class="rog-logo-title">Deckbuilder</span>
</a>

  <ion-title class="home-title ion-text-center">
    {{ identity?.name }} - {{ identity?.nickname }}
  </ion-title>

  <ion-icon
    slot="end"
    name="create-outline"
    class="edit-icon"
    (click)="editIdentity()">
  </ion-icon>
</ion-toolbar>


</ion-header>
 @if (showUserModal) {
  <div class="overlay">
    <user-identity (closed)="onIdentitySaved()"></user-identity>
  </div>
}

<ion-content class="ion-padding">

  @if (decks.length === 0) {
    <ion-title class="home-title ion-text-center">
      <h5>Aún no tienes mazos guardados</h5>
    </ion-title>
  } @else {
    <decks [decks]="decks" (deckDeleted)="loadDecks()"/>
  }

  <ion-button class="floating-btn" (click)="createNewDeck()">+</ion-button>

</ion-content>
