<ion-header>
  <ion-toolbar>
    <!-- back -->
    <ion-icon slot="start" name="arrow-back-outline" class="icon icon-l" routerLink="/home"></ion-icon>

    <!-- título editable -->
    <div class="editable-title">

      @if (!editingTitle) {
        <ion-title
          class="title-centered"
          (click)="enableEdit()">
          {{ deckName || 'Deck Builder' }}
        </ion-title>
      }

      @if (editingTitle) {
        <ion-input
          class="title-input"
          [value]="deckName"
          (ionInput)="deckName = $any($event.target).value"
          (ionBlur)="saveTitle()"
          (keyup.enter)="saveTitle()"
          autofocus="true"
          maxlength="24">
        </ion-input>
      }

    </div>

    <!-- buscar -->
    <ion-icon
      name="search-outline"
      slot="end"
      class="icon"
      (click)="toggleSearch($event)">
    </ion-icon>
  </ion-toolbar>

  <!-- sticky nav -->
  <div class="sticky-nav">
    <div class="nav-items">
   @for (sello of sellos; track $index) {
  <img
    class="nav-item"
    [src]="'../../../assets/SELLOS/' + sello.img"
    (click)="filterCardsByFaction(sello.faction)"
    [alt]="sello.faction"
    [class.selected]="selectedFaction === sello.faction"
  >
}

    </div>
  </div>
</ion-header>

@if (searchOpen) {
 <ng-container>
  <ion-searchbar
    show-clear-button="always"
    placeholder="Buscar..."
    class="searchbar"
    (ionInput)="filterCards($any($event.target).value)"
    (ionKeydown)="onSearchKeydown($event)"
  >
  </ion-searchbar>
</ng-container>

}

@if (viewImg) {
  <image-viewer [img]="imgSelected" (closeViewer)="toggleImageViewer()" />
}

<ion-content class="deck-layout" (click)="closeSearch()">
  <div class="main-container">

    <div class="sidebar">

  <div class="sidebar-btn sidebar-item">
  <ion-button expand="block" class="sb-btn"
              fill="solid"
              color="dark"
              [color]="deckMode() === 'main' ? 'primary' : 'dark'"
              (click)="setDeckMode('main')">
    Mazo
  </ion-button>

  <ion-button expand="block" class="sb-btn"
              fill="solid"
              [color]="deckMode() === 'side' ? 'primary' : 'dark'"
              (click)="setDeckMode('side')">
    SD
  </ion-button>
</div>


  <h4 class="sidebar-title">
    Cartas seleccionadas
  </h4>

  <!-- CONTADOR 20/40 -->
  <div class="card-counter" [class.animate]="counterAnimation()">
  {{ totalSelected }}/{{ deckMode() === 'main' ? 40 : 15 }}
</div>

  @if (selectedCards.length === 0) {
    <div class="sidebar-empty">No hay cartas agregadas</div>
  }

  @if (selectedCards.length > 0) {
    <ul class="selected-list">
      @for (item of selectedCards; track item.id) {
      <li class="sidebar-item" [ngClass]="item.faction">
        <span class="item-name">{{ item.name }}</span>
        <span class="item-amount">x{{ item.amount }}</span>
        <button class="delete-x" (click)="removeCard(item.id)">✕</button>
      </li>
      }
    </ul>
  }
</div>


    <div class="content-area">
      <h2 class="faction-selected">{{selectedFaction | titlecase}}</h2>
      <div class="cards-wrapper">
        <div class="cards-container">
          @if (currentCards.length > 0) {
          @for (card of currentCards; track card.id) {
            <card
              class="card"
              [deckId]="deckId()!"
              [cardData]="card"
              [mode]="deckMode()"
              [initialCount]="savedAmounts[card.id] ?? 0"
              (ImgView)="openImageViewer($event)"
              (amountChange)="refreshDeck()">
            </card>
          }
        }

        <!-- not found -->
        @if (currentCards.length === 0 && searchTerm) {
          <div class="no-results">
              <h3>No se encontró ninguna carta... :C</h3>
          </div>
        }
        </div>
      </div>
    </div>

  </div>
</ion-content>
