.actions {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  ion-icon {
    font-size: 1.2rem;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.15);
    }
  }
}
.last-item {
  margin-bottom: 4rem;
}

.deck-title{
  font-size: smaller;
  font-weight: bolder;
}
