<ion-card class="card-component">
<ion-card class="card-component">

  <div class="img-wrapper">
    <!-- Skeleton -->
    @if (!imgLoaded) {
      <div class="img-skeleton shimmer"></div>
    }

    <!-- Imagen real -->
    <ion-img
      [src]="cardData.img"
      (ionImgDidLoad)="onImgLoad()"
      (click)="showImg()"
      [class.loaded]="imgLoaded"
      [ngClass]="{ banned: cardData.banned }"
    ></ion-img>
  </div>

  @if (cardData.banned) {
    <h4 class="banned-stamp">baneada</h4>
  }

  <!-- resto del contenido -->
</ion-card>


  <ion-card-content class="card-content">
    <div class="cost-bar">
      <div class="cost">
        <img class="cost-img"
             [src]="getSelloImg()">
             <span class="cost-text">
               X{{ cardData.factionCost }}
             </span>
      </div>
      <div class="roman"> @if(cardData.cost > 0){{{ cardData.cost | roman }}} @else {-}</div>
    </div>

    <div class="counter-box">
      <ion-button fill="clear" class="counter-btn" (click)="decrease()">
        <ion-icon name="remove"></ion-icon>
      </ion-button>

      <span class="count">{{ count }}</span>

      <ion-button fill="clear" class="counter-btn" (click)="increase()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>

</ion-card>
