.export-container {
  background: radial-gradient(circle at top, #1b1e3a, #0b0d1a);
  padding: 2rem;
  color: white;
  position: relative;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

/* ======================
   TITULOS
   ====================== */
.export-container h1 {
  text-align: center;
  margin: 1.5rem 0 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* ======================
   GRILLAS
   ====================== */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.75rem;
  justify-items: center;
}

/* Side deck ocupa todo el ancho */
.side-deck {
  width: 100%;
  margin-top: 2rem;
}

/* ======================
   CARTAS
   ====================== */
.card {
  position: relative;
  width: 120px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}

/* ======================
   CANTIDAD (x3)
   ====================== */
.qty {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-family: "Caveat", cursive;

  font-size: 2.4rem;
  font-weight: 900;
  color: white;

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     0  2px 6px rgba(0, 0, 0, 0.9);
}

/* ======================
   SEPARADOR
   ====================== */
.divider {
  width: 60%;
  height: 3px;
  margin: 1.2rem auto;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.4) 80%,
    transparent 100%
  );
  border-radius: 3px;
}

.logo{
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.banned-stamp {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) rotate(-20deg);

  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 1px;

  color: #ff1a1a;
  text-transform: uppercase;

  border: 2px solid #ff1a1a;
  border-radius: 4px;

  opacity: 1;
  background-color: rgba(255, 255, 255, 0.158);

  text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
  pointer-events: none;
}

.sho{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}
